.App {
  width: 600px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: auto;
  padding: 2rem;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

h1,
h4 {
  padding: "1rem";
}

button {
  cursor: pointer;
  border-radius: 0.5rem;

  font-size: small;
  background-color: #00ff55;
}
li {
  list-style: none;
  border: 1px #00ff55;
  border-radius: 0.5rem;

  border-style: groove;

  margin: 1rem;
  padding: 1rem;

  width: 70%;
}
